
@model WebApplication.Models.Students
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css" />



<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <h2>Create Plan</h2>

                <div class="box-header with-border">

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Plan Name" id="title" required onkeyup=handleInput(this)>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control select2" style="width: 100%;" id="status" name="status " onkeyup=handleInput(this)>
                                <option selected="selected" value="private">Private</option>
                                <option value="public">Public</option>

                            </select>
                        </div>

                    </div>
                

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>StartDate</label>
                            <div class='input-group date'>
                                <input type='text' class="form-control" id="startdate" onkeydown="event.preventDefault()" onkeyup=handleInput(this) />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" onclick="Startdate()"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>DueDate</label>
                            <div class='input-group date'>
                                <input type='text' class="form-control" id="duedate" onkeydown="event.preventDefault()" onkeyup=handleInput(this) onchange="DateCheck()" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" onclick="Duedate()"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" placeholder="Type your description of the task here" id="description" onkeyup=handleInput(this) required></textarea>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputFile">Attachments</label>
                                <input type="file" id="exampleInputFile">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div style="text-align:right; margin-top:10px "><button onclick="submitData()">Send</button></div>
                        </div>
                    </div>
                    <div id="output"></div>
                    <!-- /.box-header -->
                    <!-- form start -->


                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
            type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <script type="text/javascript">

    </script>
    <script>
        function Startdate() {
            $("#startdate").focus();
        }
        function Duedate() {
            $("#duedate").focus();
        }
        $(function () {
            $("#startdate").datepicker({
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#duedate").datepicker("option", "minDate", dt);
                }
            });
            $("#duedate").datepicker({
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#startdate").datepicker("option", "maxDate", dt);
                }
            });
        });

        var createCORSRequest = function (method, url) {
            var xhr = new XMLHttpRequest();
            if ("withCredentials" in xhr) {
                // Most browsers.
                xhr.open(method, url, true);
            } else if (typeof XDomainRequest != "undefined") {
                // IE8 & IE9
                xhr = new XDomainRequest();
                xhr.open(method, url);
            } else {
                // CORS not supported.
                xhr = null;
            }
            return xhr;
        };

        var url = 'http://capstoneproj.azurewebsites.net/api/CreatePlan?code=neSlU5xWY8WR4KxvDnbSIxWaAitArskdsBURwE2G36HvD581ZLhL2Q==';
        var method = 'POST';
        var xhr = createCORSRequest(method, url);

        xhr.onload = function () {

        };

        xhr.onerror = function () {

        };

        function submitData() {
            var title = document.getElementById("title").value;
            //  alert(title);
            var description = document.getElementById("description").value;
            //  alert(description);
            var statuss = $('#status').val();
            //    alert(statuss);
            var startdate = document.getElementById("startdate").value;
            //    alert(startdate);
            var duedate = document.getElementById("duedate").value;
            //     alert(duedate);
            var data = JSON.stringify({
                "title": title,
                "description": description,
                "status": statuss,
                "startdate": startdate,
                "duedate": duedate
            });

            var urll = '@Url.Action("Index", "Home")';
            if (title.length > 0 && description.length > 0 && startdate.length > 0 && duedate.length > 0) {
                xhr.send(data);
                alert("Success");
                window.location.href = urll;
            } else {
                alert("Please fill in required fields");
            }
        }


    </script>
    <script>
        $('.chosen-select').chosen();
    

    </script>

}
